.skills-container {
  max-width: 1024px;
  margin: 10em auto;

  font-family: "Poppins", sans-serif;

  h2 {
    text-align: center;
    margin: 1em 0;
    font-size: 3em;
    color: var(--primary-color-darker);
  }
}

.skills-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 6em;
    height: 6em;
  }
}

#Skills {
  padding: 2em 0;
}

@media only screen and (max-width: 1024px) {
  .skills-container {
    margin: 8em 1.3em;
  }
  .skills-list {
    flex-direction: column;

    img {
      margin: 1em auto;
    }
  }
}

@media only screen and (max-width: 630px) {
  #Skills {
    margin: 0;
  }
  .skills-container {
    margin: 1em auto;
  }
}
